@import url("styles/header.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
}

.h1{font-size: 75px;}

.container__imagem {
    padding: 1em;
}
.container {
    display: flex;
    align-items: center;
}
.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}




